/*
:root {
  --flex-direction-row: row;
  --flex-direction-col: column;
}
*/
.flux {
  display: -webkit-inline-flex; /* Safari */
  -webkit-flex-direction: var(--flex-direction-row); /* Safari 6.1+ */
  display: inline-flex;
  flex-direction: var(--flex-direction-row);
  }

html > * {
  font-family: sans-serif;
  box-sizing: border-box; /* includes padding+border in elements div,text,... */
}
/*
header {margin: 0px 0px 0px 40px;
	position: fixed;
}
header > *{
    background-color:#FFCC99;
    color: black;
    border-style: solid;
    border-width: 1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
header>div>ol>li{font-size: 25px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    color: gray;
    height: auto;
    display: -webkit-inline-flex; / Safari /
    -webkit-flex-direction: var(--flex-direction-row); / Safari 6.1+ /
    display: inline-flex;
    flex-direction: var(--flex-direction-row);
   }
*/
footer {
    color:red;
    top: 30em;
    width: 100%;
    height:auto;
    margin: 10px 10px 0px 0px;
    display: -webkit-inline-flex; /* Safari */
    -webkit-flex-direction: var(--flex-direction-row); /* Safari 6.1+ */
    display: inline-flex;
    flex-direction: var(--flex-direction-row);
    }
.fut1{color:green;
     }
.fut2{color: blue;
     }
.fut3{color:black;
     }

body, textarea, .tiptxt{
     font-family: 'noto_sansregular','noto_serifregular','Noto Naskh Arabic','Noto Sans Tifinagh','Noto Sans Hebrew'; /*, sansserif;*/
     }
/*h2  { font-family: "Your typeface", Georgia, serif; }
h2 em { font-family: "Your italic typeface", Georgia, serif; }*/
h3  {font-weight: normal;
     font-style: normal;
}
.f3{width: 10em;
    height: 2em;
}
em { font-style: italic; }
/*a{   color: blue;
     text-decoration:none; underline;
     font-weight: bold;
     font-style: italic;
     }*/
.section > *, footer > *, .trees > *{
   background-color:#FFCC99;
   color: black;
   border-style: solid;
   border-width: 1px;
   margin: 3px 10px 3px 3px; /* top right bottom left */
   padding: 2px 2px 2px 2px;
/*   box-sizing: border-box; /* includes padding+border in elements div,text,... */
  }
hr {
    color: #07790f;
    background-color: #f7790f;
  }

.section.infos {
   min-width: 16em;
   max-width: 50%;
   color:blue;
   float: left;  /* makes following section adjacent and not at end of section */
/*   overflow: auto;*/
 }

/*a:link { color: green; text-decoration: underline; }
  a:visited { color: gray; }
  a:hover { color: red; text-decoration: none; }
  a:active, a:focus { color: red; }*/

.section.app {
/*   max-width: 75%;*/
/*   margin-left: 25%; */
  }
.section.app.master {
  display: flex;
  flex-flow: row nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
}
.section.master > div {
    width: auto;
    max-width: 100%;
    color:black;
}

.synkgrp {
    width: 100%;
    display: flex;
    flex-flow: row nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
    box-sizing: border-box; /* includes padding+border in elements div,text,... */
    border-style: none;
/*    background-color: #56e36d;*/
/* individual size and scroll bar */
/*    height: 200px;
    resize: vertical;
    overflow: scroll;*/
    }
.module{
  width: 100%;
  padding: 5px 5px 5px 5px;
}
.ctrls {
  display: flex;
  flex-flow: row nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
 }
/*
textarea:before{
    counter-increment: line;
    content: counter(line);
}
*/
/*.section.app.synkrogrp > div > textarea {*/
.panel {
    font-size: 14px;
    line-height: 1em;
    border-width: 5px;
    border-style: ridge; /*none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset*/
    border-radius: 7px;
    border-color: blue;
/*  border: 5px dotted #159c5a; */
    box-sizing: border-box; /* includes padding+border in elements div,text,... */
    background-color: #7AE78C;
    box-shadow: 5px 5px 5px 0 rgba(100,0,0,0.5);
    height: 200px;
    resize: vertical;
    overflow-y: scroll; /* overflow: auto;  // IE shows scrollbar when needed // scroll */
/* individual size and scroll bar */
    width: 100%;
/*  white-space: nowrap; */
/*    overflow-x: scroll; /*  visible|hidden|scroll|auto|initial|inherit */
}
fieldset {width: 95%;}
.forma, .files {
  width: 100%;
  background: #7AE78C; /* <verde claro  #6EBBCF <celeste */
  border: 1px solid gray;
/*  margin: 0 auto;*/
}
.forma ol {
  padding-left: 0;
}
.forma li, .forma > div > p {
  background: #eee;
  display: flex;
  flex-wrap: nowrap;

  align-items: center;  /* center stretch baseline flex-start flex-end */
/*justify-content: right;*/
  list-style-type: none;
  border: 1px solid red;
}
.forma li>* {
/*display: flex;
  flex-wrap: nowrap;*/
  margin-left: 3px;
  margin-right: 3px;
}
.forma img { /* 16:9 format */
  width: 64px;
  height: 36px; /* 64px; */
  padding: 1px 1px 1px 1px;
/*order: 1;*/
/*align: right;*/
}
.forma p {
  font-size: 14px;
  line-height: 1em;
/*  padding: 10px; /*  margin: 10px; */
}
/* inputz.style.opacity = 0.10;inputz.style.zIndex=-1;inputz.style.position='absolute'; */
.filup {
/*  position: absolute; */
  opacity: 0.50;
  z-index: -1;
}

/* #mapid { height: 180px; } */

/*label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}*/

button {
  font-family: sans-serif;
  font-size: 1em;
  margin: 2px 2px 2px 2px;
  border: none;
  padding: 5px 5px;
  background-image: url(file_tuxth.jpg);
  background-repeat: no-repeat; /* repeat; is the default */
/*  background-attachment: fixed; /* scroll|fixed|local|initial|inherit */
  background-position: center center;  /* left|center|right  top|center|bottom */
  background-color: #4CAF50; /* Green */
  color: red;
  text-align: center;
  text-decoration: none;
  /*display: float;  /  inline-block;*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(100,0,0,0.5);
  }
button:hover {background-color: #3e8e41}
button:active {
  background-color: #558e41;
  box-shadow: 3px 5px #666;
  transform: translateY(4px);
}
.ctrls {
  width: 100%;
  box-sizing: border-box; /* includes padding+border in elements div,text,... */
/*  display: -webkit-flex; /* Safari */
/*  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  display: flex;
  flex-flow: row wrap;  /*flex-flow: <‘flex-direction’> || <‘flex-wrap’>*/
/*   align-items: flex-start;  /* center stretch baseline flex-start flex-end */
}
/*.ctrls>label {
  width: 1.3em;
}*/
.ctrl {
  color: black;
  background-color: #f7790f;
  font-size: 20px;
  line-height: 1.3em;
  text-decoration: none;
  vertical-align: middle;
  width: 1.3em;
  text-align: center;
  margin: 3px;
  box-shadow: 3px 3px 3px 0 rgba(100,0,0,0.5);
  border-color: blue;
  border-style: ridge; /*none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset*/
  border-width: 3px;
  border-radius: 5px;
}
.ctrl:hover{
  background-color: #EFEA0B;
/*  -webkit-transform: rotateX(45deg); / Chrome, Safari, Opera  /
transform: rotateX(45deg); */
}
.ctrl:active{
  background-color: red;
}
.vedit {
/*background-image: url(save.svg);*/
  background-image: url(video-edition.svg);
  background-repeat: no-repeat; /* repeat; is the default */
  background-size: contain; /*contain|cover|25px 25px; */
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
/*  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tiptxt {
    visibility: hidden;
    font-size: 14px;
    line-height: 1em;
    text-align: center;
    padding: 3px;
    width: auto;
    color: black;
    background-color: #6EBBCF;
    opacity: 0.75;
    border: none; /*1px solid black; */
    border-radius: 3px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: 100%;
    left: 0%;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tiptxt {
    visibility: visible;
}
.selects {
  padding: 0;
  margin: 0;
  border: 1px solid yellow;
  list-style: none;
  direction: ltr; /* ltr is default rtl*/
  display: flex;
  flex-flow: row wrap;
  align-items: center;  /* center stretch baseline flex-start flex-end */
  justify-content: space-evenly; /* space-around space-between center flex-start flex-end */
/*vertical-align: middle; Note that float, clear and vertical-align have no effect on a flex item.*/
/*text-align: center;*/
}
.subselect {
  order: 0; /* <integer>; /* default is 0 */
  align-self: auto; /* auto | flex-start | flex-end | center | baseline | stretch; */
  flex: none; /* none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
  flex-grow: 0; /* <number>; /* poundered, default 0*/
  flex-basis: 10em;  /* <length> 5em 5rem 10% 100px | auto; /* default auto */
}

.tags {
  border: 1px solid purple;
  align-self: center;
/*  align-items: center center; /* vertically */
/*  vertical-align: middle;*/
}
.tags > span{
/*position: relative;*/
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:blue;
  margin: 3px 2px 3px 2px;
  padding: 0 0.2em 0 0.2em;  /* padding:2px 5px; */
/*align-items: center center; /* vertically */
/*vertical-align: middle;*/
}
.tags > span:hover{
  opacity:0.7;
}
.tags > span:before{
/* border:1px solid; */
  content:"✘";;  /*"✘";*/
  padding: 0 0.2em 0 0.2em;
/*  position: absolute;
/*right: 0px;
  font-weight: bold;
  font-size: 0.75em;*/
}
.tags > span:hover:before{
  color:red
}
input[type="text"], input[type="password"], input[type="button"], input[type="file"] {
  font-family: sans-serif;
  font-size: 1em;
  width: 10em;
  margin: 4px 2px 4px 2px;
  color: red;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 rgba(100,0,0,0.5);
  -webkit-appearance: button;
  -moz-appearance: button;
/*  appearance: button;  /* normal|icon|window|button|menu|field */
}
/*  https://catalin.red/stylish-css3-progress-bars/  */
.progress-bar {
    background-color: #7c98c5; /*<blue--black> #1a1a1a; */
    width: 150px;  /* 350px */
    height: 1em; /* 25px */
    padding: 4px; /* 5px */
    border-radius: 4px;
    box-shadow: 0 1px 4px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
/*  margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;*/
}
.blue span {
    background-color: #34c2e3;
}
.oranges span {
      background-color: #D76154; /* #fecf23; */
  /*  background-image: linear-gradient(top, #fecf23, #fd9215); */
}
.green span {
      background-color: #a5df41;
  /*  background-image: linear-gradient(top, #a5df41, #4ca916); */
}
/* ANIMATED STRIPES */
.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
    animation: animate-stripes 3s linear infinite;
}
@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
/* SHINE EFFECT */
.shine span {
    position: relative;
}
.shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;
}
@keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}
progress {
  color: #0063a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 20em;
  height: 2em;
  position: absolute;
  margin-left: 35%;
  margin-top: 20px;
  border: 1px solid #0063a6;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
  background: #fff;
}

/*
.forma label, .forma button {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 5px ridge black;
  font-size: 0.8em;  /*rem/
  height: 2em; /*auto;/
}
.forma label:hover, .forma button:hover {
  background-color: #2D5BA3;
  color: white;
}
.forma label:active, .forma button:active {
  background-color: #0D3F8F;
  color: white;
}
*/
/*
.meter {
	height: 20px;
  position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}
.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
*/

#div1, #div2 {
    width: 120px;
    height: 90px;
    padding: 2px;
    border: 1px solid #aaaaaa;
}
.drops {
  display: -webkit-inline-flex; /* Safari */
  -webkit-flex-direction: var(--flex-direction-row); /* Safari 6.1+ */
  display: inline-flex;
  flex-direction: var(--flex-direction-row);
}

/*.videos{margin: 1px 1px 1px -40px;
	}*/
.listub > li{/*width: 100%; height:auto;*/
	/*margin: 1px 1px 1px 1px;*/
  display: -webkit-inline-flex; /* Safari */
  -webkit-flex-direction: var(--flex-direction-row); /* Safari 6.1+ */
  display: inline-flex;
  flex-direction: var(--flex-direction-row);
	}
.divtube{position:relative;
	width: 255px; /*160px; from 350px iframe youtube shows currentime*/
	height: auto; /*90px;*/
	margin: 1px 1px 1px 1px;
	border: thin solid gray;
	padding: 1px 1px 1px 1px;
	opacity: 0.7;
	transition: width 1s, height 1s, transform 2s;
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
	}
.divtube:hover {
  opacity: 1;
/*width: 350px;*/
	/*transform: rotate(360deg);
	-webkit-transform: rotate(360deg); /* Safari */
	}
.utube {position:relative;
	padding-bottom:56.25%;
	padding-top:0px; /*30px;*/
	padding-left:0px; /*30px;*/
	height:0;
	overflow:hidden;
	}
.utube video, .utube iframe, .utube object, .utube embed, .utube .mapa {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}

.modalDialog {
	position: fixed;
        font-size: 20px;
    /*  font-family: Arial, Helvetica, sans-serif; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(50,50,50,0.4);
  visibility: hidden;
	z-index: 1011;
	opacity:0;
/*	-webkit-transition: opacity 400ms ease-in; */
/*	-moz-transition: opacity 400ms ease-in; */
	transition: opacity 400ms ease-in;
}
.modalDialog:target {
  visibility: visible;
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 50%;
	max-width: 25em;
  min-width: 15em;
	height:75%;
	overflow: auto;
	position: relative;
	margin: 50px;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
        opacity:0.8;
	background: orange; /* For browsers that do not support gradients */
	background: linear-gradient(orange, yellow); /* Standard syntax */
/*	background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
	/*background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
	/* background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */

	/*background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);*/
}
.cerrar {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 12px; /*-12px;*/
	text-align: center;
	top: 10px;/*-10px;*/
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}
.cerrar:hover {
	background: rgb(102, 153, 255); /*bluesky #6699ff #fff;*/
	}

/* MENU CURTAIN CORNER */
.curtain{
   font-size: 20px;
   top:5px; left:5px;
   width: 1em; height: 1em;
   position: fixed; /* sticky|absolute|fixed in page */
   background-color: orange;
   border: thin solid red;
   opacity: 0.3;
   overflow: visible; /* auto; clips menus  */
   z-index: 2000; /*  z-index=-1;*/
   cursor: pointer;
   display: flex;
   flex-flow: row nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
   justify-content: flex-start; /* space-around space-between center flex-start flex-end */
   align-items: baseline;  /* center stretch baseline flex-start flex-end */
   /*   text-align: left; /*center;*/
   transition: width 0.1s ease-out, display 1s;

   }
.keybarul {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: baseline;  /* center stretch baseline flex-start flex-end */
   }
.keybarul>li>a{
/*  background-color: #7dad16;/*light green*/
  flex-flow: row nowrap;

}
/*.keybarul>li>ol {
  position: relative;
flex-flow: column nowrap;
}*/
/*
.keybarul>li>ol>li {
  position: relative;
  background-color: green;

}
*/
.curtain img {
     height: 1em;
     width: 1.2em;
     vertical-align: middle;
   }
.container {
    background-color: orange;
    width: 1.4em; height: 1.4em;
    position: fixed; /*fixed in page*/
    top:5px; left:5px;
    cursor: pointer;
/*  float: left;*/
    }
.container:active {background-color: white;
                  }
.bar1, .bar2, .bar3 {
    width: 1em; /* 35px; */
    height: 0.2em; /* 5px; */
    margin: 0.2em 0.2em 0.2em 0.2em; /* 6px 0; */
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(100, 0, 0, 0.8);
    background-color: #333;
    transition: 0.4s;
    }
.change .bar1 {transform-origin: 10% 50%; transform: rotate(45deg) scale(1.41,1);  /* (-9px, 6px); */
             }
.change .bar2 {opacity: 0;} /* transform: rotate(45deg) scale(1.35, 1); */
.change .bar3 {transform-origin: 10% 50%; transform: rotate(-45deg) scale(1.41,1);  /* (-8px, -8px); */
             }
.curtain:hover, .hovers{ /* width: 100%; */
                            opacity: 0.8;
                       }
.curtain ul, ol, li{ list-style:none;
                       }
.curtain ul {  display: none;
               width: auto;
        /*       margin: 0 0.1em 0 0.1em;  /* 0px 0.5px 0px 0px; */
               text-align: left; /*center;*/
               background-color: transparent;/*color extends to all columns*/
               cursor: pointer;
            /* transform:translateX(1.4em); */
               transition:color 0.5s, display 1s;
               }
.curtain:hover ul, .hovers ul{
                 display: flex;
                 flex-direction: row;
                 top:0.1em;
                 vertical-align: baseline; /*-10%; /*baseline;*/
                 position:relative;
                 text-decoration:none;
        /*       padding: 0px 5px 0px 0px;  */
                 }

.curtain ul>li{ position: relative; /*relative|sticky>ok , absolute|fixed;>overlapped*/
               font-size: 0.8em;
               height: 1.4em;
               width: 8em; /*auto;7.5em*/
               background-color: yellow;   /* ok  #7dad16; light green  */
               border-width: 1px;
               border-style: solid;  /* dotted */
               margin: 1px 1px 2px 1px;
               padding: 0px 0px 0px 0px;
               }
.curtain>ul>li>a {
        width:7.5em;
        text-align: left; /*center;*/
  /*    background-color:yellow;  */  /* colors only label */
        padding: 0 0 0 5px;
  /*    border-left: 3px dotted #ffcc00; */
        overflow:auto;}
.curtain>ul>li>a>img{
     height: 1em;
}

.curtain ul li ol{display: none;
		background-color: white;
		width: auto;
		cursor: pointer;
		transition:color 0.4s, display 1s;
		}
/*.curtain ul li ol >* {/*dropdown column*/
/*		width: 10em;  /*7.4em;*/
/*		background-color: black; /*#7dad16;/*light green*/
/*		margin: 1px 1px 1px 1px;
		padding: 0px 0px 0px 0px;  */
/*		}*/
.curtain ul li:hover ol, .hovers ul li:hover ol{
		display: flex;
		flex-direction: column;
		background-color: blue;
		top:0em;
		text-decoration:none;
		padding: 0px 0px 0px 0px; /*needed avoid shadow right */
		}
.curtain ul li ol li{
		background: #ffcc00; /* golden */
		cursor: pointer;
		transition: background 2s, font-weight 1s;
		}
.curtain ul li ol li:hover, .hovers ul li ol li:hover {
		background: white;font-weight: bold;
		}
/*
.menuimg img {
  width: 25px;
  height: 20px;
}
.menuimg i, .keybarul {
  font-size: 20px;
}
*/

@media screen and (max-width: 3000px){
  footer {
    display: flex;
    flex-flow: row nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
  }
	footer > *{width: 100%;}
}
@media screen and (max-width: 1015px){
  /*   .curtain  top:0px; right:0px; position: fixed;width: 1.4em;/* font-size: 2em;*/

  .curtain:hover>ul , .hovers div ol{/*display: inline-block;*/
  /*  position:relative;*/
    display: flex;
    flex-flow: column nowrap;
    text-decoration:none;
  /*  padding: 0px 5px 0px 0px;*/
    }
.x2:hover {
  background-color: pink;
/*      		transform:translateX(9em);*/
  display: flex;
  flex-flow: column nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/

}

   .x1:hover  {
         background-color: red;
/*      		transform:translateX(9em);*/
         display: flex;
         flex-flow: row nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
  /*       justify-content: flex-start; /* space-around space-between center flex-start flex-end */
       }
/*    	.curtain:hover, .hovers{/*bottom:30px; right:0px; position: fixed;*/
  /*  		transform:translateX(1.4em);*/
  /*    		width: 7.5em; /*menu left*/
  /*  		height: 75%;*/
/*    		opacity: 0.8;
    		}
*/
}
@media screen and (max-width: 870px){
/*  curtain{top:0px; right:0px; position: fixed;}  */
body, section, footer {flex-direction: column;
  width: 100%;
  display: flex;
  flex-flow: column nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
}
.synkgrp>div, section>div, footer>div{
	  width: 100%;
/*  display: -webkit-flex; /* Safari */
/*  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: column nowrap; /*row|column|reverse-row|reverse-column wrap|nowrap|wrap-reverse*/
/*  flex-direction: row; /* row|column|reverse-row|reverse-column */
/*  flex-wrap: nowrap;  /* wrap|nowrap|wrap-reverse; */
    justify-content: space-evenly; /* space-around space-between center flex-start flex-end */
    align-items: center;  /* center stretch baseline flex-start flex-end */
/*  vertical-align: middle; Note that float, clear and vertical-align have no effect on a flex item.*/

		}
}
